/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .content-block {
        margin-right: 20px;
        width: calc(33.33% - 20px);
        display: grid;
    }
}

@media only screen and (max-width: 1023px) {
    .content-block {
        /*margin-right: 20px;*/
        width: 100%;
        display: grid;
    }

}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}


/** Side Nav Fixes **/


nav.toc .toggleNav ul li a {
    border: none;
    color: #34445B !important;
    display: inline-block;
    font-size: 16px;
    line-height: 1.1em;
    margin: 2px 10px 5px;
    padding: 5px 0 2px;
    transition: color 0.3s;
}
nav.toc .toggleNav ul li a:hover, nav.toc .toggleNav ul li a:focus {
    color: #438CAD !important;
}

nav.toc .toggleNav ul li a.navItemActive {
    color: #34445B !important;
    font-weight: bold;
}

/** H1, H2, H3 **/
.mainContainer .wrapper .post .postHeader h1 {
    font-size: 250%;
    font-weight: 500;
    color: #438CAD !important;
}


.container .wrapper h3 {
    color: #438CAD;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 0;
}

.mainContainer .wrapper .post h2 {
    font-size: 130%;
    color: #438CAD;
}
.mainContainer .wrapper .post h3 {
    font-size: 110%;
    color: #438CAD;
}
.mainContainer .wrapper .post h5 {
    font-weight: 300;
    color: #438CAD;
    font-style: italic;
}

/** Top Nav and Header **/
.navigationSlider .slidingNav ul li a {
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2em;
    padding: 6px 10px;
    height: 32px;
    font-size: 1em;
}
.navigationSlider .slidingNav ul li a:hover {
    color: #fff;
}

.fixedHeaderContainer header h2 {
    display: block;
    color: #34445B !important;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
    line-height: 0px !important;
    position: relative;
    z-index: 9999;
}
.fixedHeaderContainer header h3 {
    text-decoration: underline;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
    color: white;
    margin-left: 10px;
    font-size: 16px;
}


/* custom styling for header*/
.wrapper{
    max-width: 100%;
}
.toc .toggleNav ul li.navListItemActive a, nav.toc .toggleNav ul li a:hover  {
    color: $secondaryColor! important;
}

.content-blocks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}


.section-promo {
    background-color: #f3f3f3;
    margin-bottom: 30px;
}
img.center-block {
    margin: 20px auto;
    display: block;
    max-width: 70%;
    height: fit-content;
}
.text-center{
    text-align: center;

}

aside.gitter-chat-embed{
    z-index: 100000;
}







/* Primary Header Navigation customizations */

div.navigationWrapper.navigationSlider {
    width: 100%;
}

.navPusher{
  padding-top: 0;
}

.fixedHeaderContainer {
    position: relative;
}

ul.nav-site.nav-site-internal li:last-child {
    position: absolute;
    right: 10px;
}

ul.nav-site.nav-site-internal li:not(:last-child) {
    padding: 8px 20px 0 20px;
    height: 50px;
    margin-top: -8px;
    padding-top: 10px;
}

ul.nav-site.nav-site-internal li.siteNavItemActive:not(:last-child) {
    background: #fff;

}

ul.nav-site.nav-site-internal li.siteNavItemActive:not(:last-child) a {
    color: #000;
    background:  #fff;
}

ul.nav-site.nav-site-internal{
    display: inline-block
}

ul.nav-site.nav-site-internal li {
    display: inherit;
}






/* Secondry Header Navigation styles */
.sub-nav {
    border-bottom: 1px solid #9fc0cf3b;
    background: #fff;
}

.sub-nav ul {
    display: block;
    float: left;
    margin-bottom: 0;
}

li.sub-nav-li {
    height: 50px;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    padding: 10px 20px 0 20px;
    margin-top: 0;
}

li.sub-nav-li.active a{
    color:#e6b847;
    border-bottom: 2px solid #e6b847;
    padding-bottom: 13px;
}





/* Sidebar Fix */
.navigationSlider {
    margin-left: 0;
}

.docMainWrapper.wrapper {
    padding-left: 0;
    margin-left: 0;
}

.container.docsNavContainer {
    padding-left: 40px;
    background: #f9fafa;
}


.container.mainContainer article a, .container.mainContainer article a:hover {
    color: #e4b030;
}